@import "../../../sass/variables";

section.contact {
    height: 50vh;
    background: $blue;
    color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .inner {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        height: auto;

        @media only screen and (min-width: $screen-tablet) {
            flex-direction: row;
        }

        div {
            margin: auto 1rem;
        }
    }

    h2, h3 {
        color: $light;
    }

    a {
        color: $white;
    }

    // p {
    //     margin: 0 0 1rem 0;
    // }

    .social .accounts {
        padding-top: 0.5rem;
        img {
            width: 15%;
            max-width: 35px;
            height: auto;
            margin: 0 10px 0 0;
        }
    } 
}
