// Screen sizes

$screen-xsm: 480px;
$screen-phone: 720px;
$screen-tablet: 940px;
$screen-reg: 1080px;
$screen-lg: 1440px;
$screen-xlg: 1600px;
$screen-hd: 1920px;
$screen-uhd: 2560px;
$screen-4k: 4096px;

// colors
$dark: #333;
$mid: #666;
$light: #eee;
$white: #fafafa;
$blue: #4A90E2;
