@import "../../../../sass/variables";

.get-in-touch {
    margin-top: 1rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    border: 0;
    background: $mid;
    color: $light;
    border: 1px solid $mid;
    text-decoration: none;

    &:hover, &:focus {
        background: $light;
        color: $mid;
    }
}
