.text-section {
    height: 50vh;
    padding: 2.5rem;

    .inner {
        &.center {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
        }
    }
}

.section-title, .sub-title {
    text-align: center;
}