@import "../../../sass/variables";

.app-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #fafafa;
    padding: 1rem;
    width: 100%;

    h1, h2 {
        font-size: 4vw;
        line-height: 2;
        display: inline-block;

        @media only screen and (min-width: $screen-tablet) {
            font-size: 3vw;
        }

        @media only screen and (min-width: $screen-hd) {
            font-size: 22px;
        }
    }
}