@import "../../../sass/variables";

.app-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: #fafafa;
    padding: 1rem;
    width: 100%;

    h1 {
        font-size: 2rem;
        line-height: 2;
        display: inline-block;
    }
}